:root {
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);

  --success: #0f8a12;
  --error: #e61d31;
  --warning: #d48200;

  --neutral-black: #000000;
  --neutral-600: #231f20; /* Title */
  --neutral-500: #58595b; /* Description */
  --neutral-400: #939598; /* Unnecessary Description */
  --neutral-300: #cdcdcd; /* Disable */
  --neutral-200: #ededed; /* Background */
  --neutral-100: #f5f5f5;
  --neutral-white: #ffffff;

  --chart-pink-100: #ffc9d7;
  --chart-pink-200: #ffa1ba;
  --chart-pink-300: #ff6691;
  --chart-pink-400: #e26385;
  --chart-pink-500: #b3395e;
  --chart-neutral-600: #231f20;
  --chart-neutral-500: #58595b;
  --chart-neutral-400: #939598;
  --chart-neutral-300: #cdcdcd;
  --chart-neutral-200: #ededed;
  --chart-neutral-100: #f5f5f5;
  --chart-neutral-white: #ffffff;

  --shadow-elevation-1:
    0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadow-elevation-2:
    0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  --shadow-elevation-3:
    0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  --shadow-elevation-4:
    0 6px 10px 4px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  --shadow-elevation-5:
    0 8px 12px 6px rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: #f46176;
  --chart-2: #cc71ad;
  --chart-3: #66c5cc;
  --chart-4: #a1cc29;
  --chart-5: #f29d30;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-primary: #e26385;
  --color-secondary: #ea87a2;

  --color-foreground: var(--neutral-black);
  --color-background: var(--neutral-200);

  --color-success: #0fba12;
  --color-error: #e61d31;
  --color-warning: #d48200;

  --color-neutral-black: #000000;
  --color-neutral-600: #231f20;
  --color-neutral-500: #58595b;
  --color-neutral-400: #939598;
  --color-neutral-300: #cdcdcd;
  --color-neutral-200: #ededed;
  --color-neutral-100: #f5f5f5;
  --color-neutral-white: #ffffff;

  --color-chart-pink-100: #ffc9d7;
  --color-chart-pink-200: #ffa1ba;
  --color-chart-pink-300: #ff6691;
  --color-chart-pink-400: #e26385;
  --color-chart-pink-500: #b3395e;
  --color-chart-neutral-600: #231f20;
  --color-chart-neutral-500: #58595b;
  --color-chart-neutral-400: #939598;
  --color-chart-neutral-300: #cdcdcd;
  --color-chart-neutral-200: #ededed;
  --color-chart-neutral-100: #f5f5f5;
  --color-chart-neutral-white: #ffffff;

  --color-chart-1: #f46176;
  --color-chart-2: #cc71ad;
  --color-chart-3: #66c5cc;
  --color-chart-4: #a1cc29;
  --color-chart-5: #f29d30;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Shadow */
@utility shadow-elevation-1 {
  box-shadow: var(--shadow-elevation-1);
}

@utility shadow-elevation-2 {
  box-shadow: var(--shadow-elevation-2);
}

@utility shadow-elevation-3 {
  box-shadow: var(--shadow-elevation-3);
}

@utility shadow-elevation-4 {
  box-shadow: var(--shadow-elevation-4);
}

@utility shadow-elevation-5 {
  box-shadow: var(--shadow-elevation-5);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
