@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "CHULALONGKORNBold";
  src: url("@assets/font/CHULALONGKORNBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
  descent-override: 25%;
}

@font-face {
  font-family: "CHULALONGKORNReg";
  src: url("@assets/font/CHULALONGKORNReg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  ascent-override: 95%;
  descent-override: 25%;
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-display: block;
  src: url("../../../public/font/material-symbols-outlined.woff2") format("woff2");
}

@theme inline {
  --font-chula-bold: "CHULALONGKORNBold", "sans-serif";
  --font-chula-regular: "CHULALONGKORNReg", "sans-serif";
  --font-sarabun: "Sarabun", "sans-serif";
  --font-material-symbols: "Material Symbols Outlined";
}

/* Display */
@utility display-large-primary {
  font-family: var(--font-chula-regular);
  font-size: 3.5625rem; /* 57px */
  line-height: 4rem; /* 64px */
  letter-spacing: -0.015625rem; /* -0.25px */
}

@utility display-medium-primary {
  font-family: var(--font-chula-regular);
  font-size: 2.8125rem; /* 45px */
  line-height: 3.25rem; /* 52px */
  letter-spacing: 0;
}

@utility display-small-primary {
  font-family: var(--font-chula-regular);
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  letter-spacing: 0;
}

@utility display-large-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 3.5625rem; /* 57px */
  line-height: 4rem; /* 64px */
  letter-spacing: -0.015625rem; /* -0.25px */
}

@utility display-medium-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 2.8125rem; /* 45px */
  line-height: 3.25rem; /* 52px */
  letter-spacing: 0;
}

@utility display-small-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  letter-spacing: 0;
}

/* Headline */
@utility headline-large-primary {
  font-family: var(--font-chula-regular);
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  letter-spacing: 0;
}

@utility headline-medium-primary {
  font-family: var(--font-chula-regular);
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0;
}

@utility headline-small-primary {
  font-family: var(--font-chula-regular);
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  letter-spacing: 0;
}

@utility headline-large-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  letter-spacing: 0;
}

@utility headline-medium-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0;
}

@utility headline-small-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  letter-spacing: 0;
}

/* Title */
@utility title-large-primary {
  font-family: var(--font-chula-regular);
  font-size: 1.375rem; /* 22px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
}

@utility title-medium-primary {
  font-family: var(--font-chula-regular);
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.009375rem; /* 0.15px */
}

@utility title-small-primary {
  font-family: var(--font-chula-regular);
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.00625rem; /* 0.1px */
}

@utility title-large-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 1.375rem; /* 22px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
}

@utility title-medium-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.009375rem; /* 0.15px */
}

@utility title-small-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.00625rem; /* 0.1px */
}

/* Label */
@utility label-large-primary {
  font-family: var(--font-chula-regular);
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.00625rem; /* 0.1px */
}

@utility label-medium-primary {
  font-family: var(--font-chula-regular);
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0.03125rem; /* 0.5px */
}

@utility label-small-primary {
  font-family: var(--font-chula-regular);
  font-size: 0.6875rem; /* 11px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0.03125rem; /* 0.5px */
}

@utility label-large-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.00625rem; /* 0.1px */
}

@utility label-medium-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0.03125rem; /* 0.5px */
}

@utility label-small-emphasized {
  font-family: var(--font-chula-bold);
  font-size: 0.6875rem; /* 11px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0.03125rem; /* 0.5px */
}

/* Body */
@utility body-large-primary {
  font-family: var(--font-sarabun);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

@utility body-medium-primary {
  font-family: var(--font-sarabun);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

@utility body-small-primary {
  font-family: var(--font-sarabun);
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

@utility body-large-emphasized {
  font-family: var(--font-sarabun);
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

@utility body-medium-emphasized {
  font-family: var(--font-sarabun);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

@utility body-small-emphasized {
  font-family: var(--font-sarabun);
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

@utility font-ion {
  font-family: var(--font-ion);
}

@utility font-material-symbols {
  font-family: var(--font-material-symbols);
}