GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_API_HOST=http://127.0.0.1:8000/api
NEXT_PUBLIC_AUTH_URL=https://culab-authen.azurewebsites.net/?partnerid=9f2b4a1c8d3e0f7b2a6c9e4d1b0f3a2c

BACKEND_PROXY_URL=http://127.0.0.1:8000

NEXT_PUBLIC_LOG_IN_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMTExMTExMTEtMTExMS0xMTExLTExMTEtMTExMTExMTExMTExIn0.JoXt8bSv0YqBTz9yPmB-cJRLs-9F0BJ2gkUt2bQFtNY