@import "./token/font.css";
@import "./token/color.css";
@import "./chart-transitions.css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-xs: 425px;
}

body {
  background: var(--neutral-black);
  font-family: var(--font-chula-regular);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}